<!DOCTYPE html>
<html lang="en">
<head>
    <title>Admin</title>
</head>
<body>
    <table>
        <tr>
            <th>ID</th>
            <th>Players</th>
            <th>FPS</th>
            <th>started</th>
        </tr>
    {{#lobbies}}
        <tr>
            <td>/lobby/{{id}}</td>
            <td>{{game.players.length}}</td>
            <td>{{game.lastFps}}</td>
            <td>{{game.running}}</td>
        </tr>
    {{/lobbies}}
    </table>
</body>
</html>