<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ploing!</title>
    <link rel="stylesheet" href="../css/pong.css">
</head>
<body>
    <canvas id="game"></canvas>
    <script src="../client/pong.bundle.js" type="module"></script>
</body>
</html>